---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import VivePixel from '../components/VivePixel.astro';
import Espacios from '../components/Espacios.astro';
import Coliving from '../components/Coliving.astro';
import Reservas from '../components/Reservas.astro';
import Faq from '../components/Faq.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Pixel Living | Coliving en Bogotá">
	<main>
		<Hero />
		<VivePixel />
		<Espacios />
		<Coliving />
		<Reservas />
		<Faq />
		<Contacto />
	</main>
</Layout>