---
---

<header class="fixed w-full bg-black shadow-sm z-50 backdrop-blur-sm">
    <div class="container flex items-center justify-between py-4">
      <a href="/" class="flex items-center">
        <img src="/images/logo-pixel-living.webp" alt="Pixel Living" class="h-11" />
      </a>
      
      <nav class="hidden md:flex space-x-8">
        <a href="/#vive-pixel" class="text-white hover:text-yellow-100">Vive Pixel</a>
        <a href="/#espacios" class="text-white hover:text-yellow-100">Espacios</a>
        <a href="/#coliving" class="text-white hover:text-yellow-100">Coliving</a>
        <a href="/#reservas" class="text-white hover:text-yellow-100">Reservas</a>
        <a href="/#faq" class="text-white hover:text-yellow-100">FAQ</a>
        <a href="/contacto" class="text-white hover:text-yellow-100">Contacto</a>
      </nav>
      
      <button id="mobileMenuButton" class="md:hidden text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    
    <div id="mobileMenu" class="hidden md:hidden bg-black shadow-md absolute w-full left-0">
      <div class="container py-4 flex flex-col space-y-4">
        <a href="/#vive-pixel" class="text-white hover:text-yellow-100">Vive Pixel</a>
        <a href="/#espacios" class="text-white hover:text-yellow-100">Espacios</a>
        <a href="/#coliving" class="text-white hover:text-yellow-100">Coliving</a>
        <a href="/#reservas" class="text-white hover:text-yellow-100">Reservas</a>
        <a href="/#faq" class="text-white hover:text-yellow-100">FAQ</a>
        <a href="/#contacto" class="text-white hover:text-yellow-100">Contacto</a>
      </div>
    </div>
  </header>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const mobileMenuButton = document.getElementById('mobileMenuButton');
      const mobileMenu = document.getElementById('mobileMenu');
      
      mobileMenuButton?.addEventListener('click', () => {
        mobileMenu?.classList.toggle('hidden');
      });
      
      const mobileLinks = mobileMenu?.querySelectorAll('a');
      mobileLinks?.forEach(link => {
        link.addEventListener('click', () => {
          mobileMenu?.classList.add('hidden');
        });
      });
    });
  </script>